main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: rgb(197, 197, 197); */
    padding-top: 2rem;

    .sign-up-form {
        padding-top: 3rem;
        padding-bottom: 0.8rem;
        width: 27rem;
        height: auto;
        border: 0.1rem solid rgb(211, 211, 211);
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 12rem;
        }

        .head-text {
            width: 100%;
            padding: 1.5rem;
            /* background: red; */
            text-align: center;
            font-size: 1.3rem;
            color: grey;
        }

        .login-with-fb-div {
            width: auto;
            height: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            margin-bottom: 1rem;

            img {
                width: 1.5rem;
                border-radius: 50%;
            }

            a {
                color: #000;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .or {
            width: 100%;
            display: flex;
            justify-content: center;
            /* background: red; */
            gap: 1rem;

            span {
                /* background: green; */
                width: 35%;
                border-top: 0.1rem solid rgb(192, 192, 192);
                margin-top: 1vh;
            }
        }

        form {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 1rem;
            padding: 1.5rem 2.9rem;
            /* background: red; */

            input {
                width: 100%;
                height: 3rem;
                padding-left: 0.8rem;
                font-size: 0.94rem;
                border: 0.1rem solid rgb(214, 214, 214);
                background: rgb(252, 251, 251);

                &:focus {
                    outline: 0.01rem solid rgb(206, 206, 206);
                }
            }

            .first,
            .second {
                font-size: 0.95rem;
                color: grey;
                line-height: 1.2rem;

                a {
                    text-decoration: none;
                    color: rgb(0, 144, 233);

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .second {
                margin-top: 1rem;
            }

            button {
                width: 90%;
                height: 2.5rem;
                background: rgb(0, 157, 255);
                border-radius: 1rem;
                border: none;
                outline: none;
                color: #fff;
                font-size: 1rem;
                font-weight: bolder;

                &:hover {
                    background: rgba(0, 157, 255, 0.849);
                }
            }
        }
    }

    .have-an-account {
        width: 27rem;
        height: auto;
        margin: 1rem 0;
        padding: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.1rem solid rgb(192, 192, 192);
        font-size: 1rem;

        a {
            text-decoration: none;
            color: rgb(0, 157, 255);
        }
    }
}