* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, 
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}